:root {
    font-size: 0.8rem;
    box-sizing: border-box;
}
@media screen and (min-width: 600px) {
    :root {
        font-size: 0.9rem;
    }
}

*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    border: 0;
    padding: 0;
    z-index: 1;
}

body {
    max-width: 1000px;
    margin: 0 auto 0 auto;
    border: 0;
    padding: 0;
    color: rgb(90, 90, 90);
    background-color: rgb(250, 250, 250);
    font-family: Calibri, Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

/* Lobotomised Owl */
body * + * {
    margin-top: 0.8em;
}

h1 {
    font-size: 1.4rem;
}
h2 {
    font-size: 1.3rem;
}
h3 {
    font-size: 1.2rem;
}
p {
    font-size: 1.1rem;
}
li {
    font-size: 1.1rem;
}

@media screen and (min-width: 600px) {
    body {
        line-height: 1.5;
    }

    body * + * {
        margin-top: 0.9em;
    } 

    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.3rem;
    }
    p {
        font-size: 1.2rem;
    }
    li {
        font-size: 1.2rem;
    }
}

a:link {
    color: #29704a;
    text-decoration: none;
}
a:visited {
    color:  #29704a;
    text-decoration: none;
}
a:hover {
    color: #29704a;
    text-decoration: underline;
}
a:active {
    color:  #29704a;
    text-decoration: none;
}

.clear-both {
    clear: both;
}

/* ------------------------------------------------------------------ */

.container {
    display: flex;
    flex-direction: column;
    min-height: 98vh;
    margin: 0.25em 0.25em 0.25em 0.25em;
}

.container > .header-area {
    flex: 0 0 auto;
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
}

.container > .main-area-article {
    flex: 1 0 auto;
    margin: 0;
    border: 0;
    padding: 1.0em 0 0.75em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container .main-area-post-left {
    flex: 0 0 auto;
    margin: 0;
    border: 0;
    padding: 0 0 0 0;
}

.container .main-area-post-centre {
    flex: 0 0 auto;
    margin: 0;
    border: 0;
    padding: 0 0 0 0;
}

.container .main-area-post-centre h1 {
    text-align: center;
}
.container .main-area-post-centre h2 {
    text-align: center;
}
.container .main-area-post-centre h3 {
    text-align: center;
}
.container .main-area-post-centre h4 {
    text-align: center;
}
.container .main-area-post-centre h5 {
    text-align: center;
}
.container .main-area-post-centre h6 {
    text-align: center;
}

.container .main-area-post-centre p {
    text-align: center;
}

.container .main-area-post-centre p img {
    text-align: center;
    max-width: 100%;
    height: auto;
    border: 1px solid black;
}

.container .main-area-post-centre .whoandwhen {
    font-weight: lighter;
    font-style: italic;
}

.container .main-area-post-bottom {
    flex: 0 0 auto;
    margin: 0;
    border: 0;
    padding: 2.0em 0 0 0;
    width: 100%;
}

.container > .footer-area {
    flex: 0 0 auto;
    margin: 1.0em 0 0 0;
    border: 0;
    padding: 0;
    width: 100%;
}

@media screen and (min-width: 600px) {
    .container {
        margin: 0.5em 0.5em 0.5em 0.5em;
    }
}

/* ------------------------------------------------------------------ */

.header-figure {
    display: block;
    position: relative;
    margin: 0 0 0 0;
    border: 0;
    padding: 0;
}

.header-figure > img {
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
} 

.header-figure > figcaption {
    position: absolute; 
    top: 5px;
    left: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    border: 0;
    padding: 0;
    font-weight: normal;
}

.header-figure > figcaption .header-title-black {
    font-size: 1.0rem; 
    font-family: Arial, Helvetica, sans-serif;
    color: black; 
}
.header-figure > figcaption .header-title-poppy-red {
    font-size: 1.0rem; 
    font-family: Arial, Helvetica, sans-serif;
    color: #ff1a1a;
}
@media screen and (min-width: 600px) {
}

@media screen and (min-width: 600px) {
    .header-figure > figcaption {
        top: 15px;
        left: 15px;
    }
    .header-figure > figcaption .header-title-black {
        font-size: 1.5rem; 
    }
    .header-figure > figcaption .header-title-poppy-red {
        font-size: 1.5rem; 
    }
}

/* ------------------------------------------------------------------ */

.header-nav {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5em 0 0.5em 0;
    border: 0;
    padding: 0;
}

.header-nav > p {
    flex: 0 0 auto;
    line-height: 1;
    margin: 0;
    border: 0;
    padding: 0 0.1em 0 0.1em;
}
.header-nav > p:not(:last-child) {
    border-right: 1px solid rgb(150, 150, 150);
}

.header-nav > p .header-nav-item-cur {
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    .header-nav {
        margin: 0.5em 0 0.5em 0;
    }
    .header-nav > p {
        padding: 0 0.2em 0 0.2em;
    }
}

/* ------------------------------------------------------------------ */

.header-nav2 {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.5em 0 0.5em 0;
    border: 0;
    padding: 0;
}

.header-nav2 > p {
    flex: 0 0 auto;
    line-height: 1;
    margin: 0;
    border: 0;
    padding: 0 0.1em 0 0.1em;
}
.header-nav2 > p:not(:last-child) {
    border-right: 1px solid rgb(150, 150, 150);
}

.header-nav2 > p .header-nav-item-cur {
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    .header-nav2 {
        margin: 0.75em 0 0.75em 0;
    }
    .header-nav2 > p {
        padding: 0 0.2em 0 0.2em;
    }
}

/* ------------------------------------------------------------------ */

.foot-text {
    width: 100%;
    margin: 0;
    border: 0;
    border-top: 1px solid rgb(200, 200, 200);
    padding: 0;
}

.foot-text > p {
    font-size: 0.8rem;
    margin: 0;
    padding: 0.25em 0.75em;
}

.foot-text > .foot-text-left {
    float: none;
    text-align: center;
}
.foot-text > .foot-text-right {
    float: none;
    text-align: center;
}

@media (min-width: 600px) {
    .foot-text > p {
        font-size: 0.9rem;
    }    
    .foot-text > .foot-text-left {
        float: left;
        text-align: left;
        }
    .foot-text > .foot-text-right{
        float: right;
        text-align: right;
    }
}

/* ------------------------------------------------------------------ */

.foot-nav {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: center;
    clear: both;
    margin: 0.1em 0 0.1em 0;
    border: 0;
    padding: 0;
}

.foot-nav p {
    flex: 0 0 auto; 
    line-height: 1.5;
    margin: 0;
    border: 0;
    padding: 0 0.2em 0 0.2em;
    font-size: 0.9rem
}

.foot-nav p:not(:last-child) {
    border-right: 1px solid rgb(150, 150, 150);
}

.foot-nav p .foot-nav-curr {
    font-weight: bold;
}

@media (min-width: 600px) {
    .foot-nav {
        margin: 0.75em 0 0.75em 0;
    }

    .foot-nav p {
        line-height: 1;
        padding: 0 0.3em 0 0.3em;
        font-size: 1.0rem
    }
}

/* ------------------------------------------------------------------ */

.main-area-article ul {
    padding-left: 1.5em;
}

.main-area-article ol {
    list-style: decimal; 
    margin: .5em 0 0 0;
    padding: 0 0 0 0.25em;
    line-height: 1.4;
}

.main-area-article li {
    list-style: disc; 
    margin: .5em 0 0 0;
    padding: 0 0 0 0.25em;
    line-height: 1.4;
}

@media (min-width: 600px) {
    .main-area-article ol {
        padding: 0 0 0 0.5em;
    }
    
    .main-area-article li {
        padding: 0 0 0 0.5em;
    }
}

/* ------------------------------------------------------------------ */

.main-area-article .post-summary-sp-float-left {
    margin: 0.5em 0 0.5em 0;
    border: 0;
    padding: 0;
}

.main-area-article .post-summary-sp-float-left img {
    margin: 0;
    border: 0;
    padding: 0.5em 0 0 0;
    width: 100%;
}

.main-area-article .post-summary-sp-float-left p {
    margin: 0;
    border: 0;
    padding: 0 0 0 0;
}

@media (min-width: 400px) {
    .main-area-article .post-summary-sp-float-left img {
        float: left;
        width: 50%;
        padding: 0.5em 1em 0 0;
    }
    .main-area-article .post-summary-sp-float-left p {
        margin: 0;
        border: 0;
        padding: 0 0 0 0;
    }
}

/* ------------------------------------------------------------------ */

.main-area-article .post-summary-basic {
    margin: 0.5em 0 0.5em 0;
    border: 0;
    padding: 0;
}

.main-area-article .post-summary-basic p {
    margin: 0;
    border: 0;
    padding: 0 0 0 0;
    width: 100%;
}

/* ------------------------------------------------------------------ */

.main-area-article .post-summary-bottom {
    margin: 0 0 0 0;
    border: 0; 
    padding: 0;
    font-size: 0.9rem;
    clear: both;
}

.main-area-article .post-summary-bottom p {
    margin: 0;
    border: 0;
    padding: 0;
    line-height: 1.4;
}

@media (min-width: 400px) {
    .main-area-article .post-summary-bottom {
        padding: 0;
    }
}

/* ------------------------------------------------------------------ */

.main-area-article .post-summary-line {
    margin: 0.5em 0 0 0;
    border: 0;
    border-top: 1px solid rgb(200, 200, 200);
    padding: 0;
}

/* ------------------------------------------------------------------ */

.main-area-post-bottom { 
    margin: 0 0 0 0;
}
.main-area-post-bottom > p {    
    margin: 0.4em 0 0 0;
    line-height: 1.3;
    font-size: 0.9rem;
}

@media (min-width: 600px) {
    .main-area-post-bottom > p {   
        margin: 0.3em 0 0 0; 
        font-size: 1.0rem;
    }
}

/* ------------------------------------------------------------------ */

.main-area-article .post-pages-nav {
    display: flex;
    flex: row;
    justify-content: center;
    margin: 1em 0 0 0;
    border: 0;
    padding: 0;
}

.main-area-article .post-pages-nav > p > .post-pages-nav-item {
    line-height: 1;
    margin: 0;
    border: 0;
    padding: 0 .2em 0 .2em;
}

.main-area-article .post-pages-nav > p >  .post-pages-nav-item-cur {
    font-weight: bold;
    text-decoration: underline;
}

@media screen and (min-width: 600px) {
    .main-area-article .post-pages-nav > p > .post-pages-nav-item {
        padding: 0 .2em 0 .2em;
    }
}

/* ------------------------------------------------------------------ */

.main-area-article .post-tags-nav {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em 0 0 0;
    border: 0;
    padding: 0;
}

.main-area-article .post-tags-nav p {   
    flex: 0 0 auto; 
    line-height: 1;
    margin: 0 0 0.5em 0;
    border: 0;
    padding: 0 .2em 0 0.2em;
}

.main-area-article .post-tags-nav p:not(:last-child) {   
    border-right: 1px solid rgb(150, 150, 150);
}

@media screen and (min-width: 600px) {
    .main-area-article .post-tags-nav p  {
        margin: 0 0 0.75em 0;
        padding: 0 .2em 0 .2em;
    }
}